/*Reset and base style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  
}


/*Header*/
.header {
  background-color: #011627;
  padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;  
}

.logo img{
    width: 80px;
}


.logo-text {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.logo-text span {
 color: white;
 
}

/*Hacker section*/

.hacker-img {
  width: 100%;        /* fills the screen width */
  height: auto;       /* keeps the correct proportions */
  display: block;
}

.hacker-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  gap: 15px;
}

.btn-secondary {
  background-color: #8ACFE5;
  color: #011627;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 600;
  
}
.btn-primary{
  background: none;
  color: #36769D;          /* blue text */
  border: none;
  text-decoration: underline;
  font-weight: 600;
  font-size: 0.6rem;

  

}
/*Testimonial*/

.testimonial{
    display: flex;
    gap: 15px;
    padding: 20px;
}

.testimonial img{
    width: 60px;
    height: 60px;
    
}

.testimonial-text{
    text-align: left;
    font-size: 1.13rem;
    
}

.testimonial .quote{
    margin-bottom: 5px;
}

.testimonial .author {
  color: #555;                  
  font-size: 0.9rem;
}

/*POPULAR SECTION */

.popular {
    text-align: center ;
    padding: 20px;
    background-color:white;
}

.popular h2{
    margin-bottom: 20px;
}

.popular-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card{
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

