/*Reset and base style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  
}


/*Header*/
.header {
  background-color: #011627;
  padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;  
}

.logo img{
    width: 80px;
}


.logo-text {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.logo-text span {
 color: white;
 
}

/*Hacker section*/

.hacker-img {
  width: 100%;        /* fills the screen width */
  height: auto;       /* keeps the correct proportions */
  display: block;
}



